* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  font: 100% Source Sans Pro, sans-serif;
  background-color: #f2f2f2; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  background-color: #f3d9d9; }

/* HEADER */
header {
  max-width: 960px;
  height: 135px;
  background-color: #f3d9d9; }

.logo {
  float: left;
  margin-top: 54px;
  background-image: url("../images/logo.png");
  width: 373px;
  height: 46px; }

.contact {
  float: right;
  margin-top: 20px;
  width: 288px;
  font-size: 14px; }

.material-icons1 {
  float: left;
  width: 14px; }

.phone-icon {
  float: left;
  font-size: 14px; }

.mail-icon {
  float: right;
  margin-left: 40px;
  font-size: 14px; }

.phone-nr {
  margin-left: 9px; }

.mail {
  margin-left: 9px; }

.login-box {
  float: right;
  margin-top: 19px;
  background-color: #ffffff;
  width: 332px;
  height: 55px; }

.shop-cart {
  float: left;
  background-image: url("../images/shop-cart.png");
  width: 16px;
  height: 16px; }

/* NAV */
nav {
  border-top: 1px solid #e9cfd3;
  border-bottom: 1px solid #cec3b4;
  width: 960px;
  height: 71px;
  background-color: #f8dede; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

nav li {
  float: left; }

nav li a {
  display: block;
  color: #000000;
  text-align: center;
  font-size: 22px;
  padding: 21px 28px;
  text-decoration: none; }

nav li a:hover {
  background-color: #f3d9d9; }

.slider {
  width: 960px;
  height: 500px;
  background-color: green; }

.section-top {
  margin-top: 45px;
  border-top: 1px solid #e1c7c7;
  border-bottom: 1px solid #e1c7c7;
  width: 960px;
  height: 340px;
  background-color: #f8dede; }

.section-bottom {
  margin-top: 100px;
  width: 960px;
  height: 642px;
  background-color: #f8dede; }
